@font-face {
    font-display: swap;
    font-style: normal;
    font-family: "Inter";
    src: url("/public/fonts/InterExtraBold.ttf");
    font-weight: 800;
}

@font-face {
    font-display: swap;
    font-style: normal;
    font-family: "Inter";
    src: url("/public/fonts/InterRegular.ttf");
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-style: normal;
    font-family: "Inter";
    src: url("/public/fonts/InterBold.ttf");
    font-weight: 700;
}

@font-face {
    font-display: swap;
    font-style: normal;
    font-family: "Inter";
    src: url("/public/fonts/InterMedium.ttf");
    font-weight: 500;
}

@font-face {
    font-display: swap;
    font-style: normal;
    font-family: "Inter";
    src: url("/public/fonts/InterSemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-display: swap;
    font-style: normal;
    font-family: "Poppins";
    src: url("/public/fonts/PoppinsBold.ttf");
    font-weight: 700;
}

@font-face {
    font-display: swap;
    font-style: normal;
    font-family: "Poppins";
    src: url("/public/fonts/PoppinsRegular.ttf");
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-style: normal;
    font-family: "Poppins";
    src: url("/public/fonts/PoppinsSemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-display: swap;
    font-style: normal;
    font-family: "Poppins";
    src: url("/public/fonts/PollerOneRegular.ttf");
    font-weight: 400;
}